$beige: #E1DFD0;
$grey: #3A3A3A;
$blue: #6E7B80;	
$gold: #DDC38A;
$white: #E1DFD0;

$primary: $blue;
$secondary: $grey; 

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$montserrat: 'Montserrat', sans-serif;
$helvetica: Helvetica, Arial, sans-serif; 