html{
   font-family: $montserrat, sans-serif;
}

body{ 
	background-color: $primary;
}

p{ 
	text-align: center;
	color: $beige;
	font-size: 13px;
}

@keyframes animated{
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

.bounce{ 
	position: absolute;
	padding: 3em;
    left: 45%;
	right: 50%;
	color: $secondary;
	animation: animated 6s linear infinite;
		&:hover{ 
			color: $white;
		}
		.icon-sheepish{
			font-size: 4em;
		}
}
